/* SkeletonGrid.css */
.row-gap {
  margin-bottom: 20px; /* Adjust this value to set the gap between rows */
}

.col-gap {
  padding: 10px; /* Adjust this value to set the gap between columns */
}

.tiles-container {
  margin-top: 4%;
}
